MONGODB_URI=mongodb+srv://OyoTechHub:GkfqfFNaPEaqyYln@cluster0.nzs7yju.mongodb.net/?appName=Cluster0
ADMIN_USERNAME=OyoTechHub
ADMIN_PASSWORD=AbuseProject2026
SOCIAL_WORKER_USERNAME=socialworker
SOCIAL_WORKER_PASSWORD=worker2026
CLIENT_URL=http://localhost:5173
USE_FILE_DB=false